:root {
  --theme--color: #2073e0;
}
.el-header {
  box-shadow: 0 0 2rem 0 rgba(41, 48, 66, 0.1);
  margin-left: 0px;
  line-height: 60px;
  position: relative;
  min-width: 400px;
  clear: both;
}
.el-header .iconfont:hover {
  color: var(--theme--color);
}

.el-main {
  border-radius: 10px;
  transition: all 0.4s;
  transform: scale(1.02);
}

#sub-title {
  margin-top: 10px;
  position: relative;
  font-weight: 1000;
  cursor: pointer;
}

